@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.category_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.search_bar_box{
    display: flex;
    flex-direction: column; 
    width: 1441px;
    height: 300px;



  
}

.bar_title{
    margin-top: 61px;
    margin-left: 132px;
    height: 40px;
    
}



.academy_contents_box{
    width: 1441px;  
    height: 1529px;
    display: flex;
    flex-direction: column;

}

.academy_category{
    display: flex;
    flex-direction: column;
}

.category_selection{
    display: flex;
    flex-direction: row;
}

.academy_list{
    display: flex;
    flex-direction: column;
}

.academy_content{
    display: flex;
    flex-direction: row;
}

.academy_description{
    display: flex;
    flex-direction: column;
}

.academy_profile{
    display: flex;
    flex-direction: row;
}
